/* CSS styles */
.game-title {
    color: red;
    font-family: papyrus;
    font-style: italic;
    font-size: 70px;
    text-align: center;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

#buttonStart {
 margin: 200px 0px 10px 300px;/*top right bottom left*/
}
#buttonInfo {
 margin: 0px 100px 10px 300px;
}

#buttonExtra {
 margin: 0px 100px 10px 300px;
}

#buttonBack {
 margin: 10px 10px 20px 10px;
 width: 150px;
  padding: 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*.............Win/lose states..........*/
#loseScreen{
  width:500px;
  height:300px;
  position:absolute;
  bottom:170;
  left:150;
  z-index: 2;
  background-image: url('../img/losePic.png');
      
}

#winScreen{
  width:650px;
  height:154px;
  position:absolute;
  bottom:250;
  left:60;
  z-index: 2;
  background-image: url('../img/you_win.png');
      
}

#fadeIn{
    z-index: 1;
    position:absolute;
    width:800px;
    height:600px;
    background:#000000;
    opacity: .5    
}
#btnWinLosePlay{
  position: absolute;
  bottom:0;
  left: 80;
  width: 128;
  height:50;
}

#btnWinLoseQuit{
  position: absolute;
  bottom:0;
  left: 280;
  width: 128;
  height:50;
}

#btnWinContinue{
  position: absolute;
  top:180;
  left: 100;
  width: 128;
  height:50;
}

#btnWinQuit{
  position: absolute;
  top:180;
  left: 400;
  width: 128;
  height:50;
}
/*.............Win/lose states end..........*/





/*.........Pause menu...................*/
#pauseMenu{
    position: absolute;
    z-index: 1;
    width:800px;
    height:600px;
    background:#000000;
    opacity: .5
    
      
}
#pauseText{
  font-size: 60px
}
#pauseInfoText{
  font-size: 30px
}

#infoPop{
  width:300px;
  height:300px;
}
/*.........Pause menu...................*/
#bgimg {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    background-image: url('../img/bg3.png');
    margin: auto;
}

#bgimgInfo {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    background-image: url('../img/bgInfo.jpg');
    margin: auto;
    
}

#lv1 {
  text-align: center;
  width: 975px;
  margin-left: calc(100vw - 950px - (100vw - 950px) / 2)
}


#lv1bgimg{
    position: relative;
    width: 800px;
    height: 600px;
    border: 1px solid black;
    background-image: url('../img/level1bg-water.png');
    background-color: azure;
    display: inline-block;
}

#sidebar{
    width: 150px;
    height: 600px;
    border: 1px solid black;
    /*background-color: #f4f142;*/
    background-image: url('../img/bgRightBar.png');
    display: inline-block;
    position: relative;
  float: right;
}

/*------------sidebar-------------turrets button-----------*/
.rpSign{
    background-image: url(../img/RPsign.png);
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    left: 0px;
    position: absolute;
    background-repeat: no-repeat;
}


.turrets{
    padding-left: 0;
    list-style: none;
    width: 100%;
}



/*temp to be deleted later---*/
/*dont delete I changed it for 3rd turret :( */
.turrets li div{
    width: 32px;
    height: 32px;
    margin: auto;
    background-image: url(../img/bubble.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
/*temp to be deleted later---*/




#turretB1{
    width: 50px;
    height: 50px;
    margin: auto;
    background-image: url(../img/turretB1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#turretB2{
    width: 50px;
    height: 50px;
    margin: auto;
    background-image: url(../img/turretB2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.description{
    border: 1px solid red;
    height: 180px;
    opacity: 0.5;
    display: none;
    background: black;
    color: lightcoral;
    position: absolute;
    top: 320px;
}

.start{
    background-image: url(../img/playbutton.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top:200px;
    margin-left:10px;
    width: 100%;
    height: 100%;
}

.start:hover{
    cursor: pointer;
}

#playerInfo{
    width: 100%;
    height: 50px;
    /*background-color: lightblue;*/
    margin-bottom: 5px;
}

#range{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  opacity: 0.3;
  position: absolute;
}

.blocker {
  position: absolute;
  background-color: green;
}

/* enemies */

.enemy {
  position: absolute;
  //background-size: cover;
  //background-color: transparent;
}

.enemy1 {
  //background-color: blue;
  background-image: url(../img/blobslow.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation-duration: 10s;
  height: 50px;
  width: 50px;
}

.enemy2 {
  background-color: red;
  height: 40px;
  width: 40px;
}

/*.enemy3 {
  background-color: black;
  height: 44px;
  width: 44px;
}*/

.level1 {
  top: 55px;
  left: 0;
}

/* turrets */

.turret {
    position: absolute;
    background-size: cover;
    background-color: transparent;
    /*animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;*/
    
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* totally inefficient disable button*/
#redCross1{
  background-image: url(../img/Cross.png);
  background-repeat: no-repeat;
  position:absolute;
  height: 32px;
  width 32px;
  visibility: hidden;
}

#redCross2{
  background-image: url(../img/Cross.png);
  background-repeat: no-repeat;
  position:absolute;
  height: 32px;
  width 32px;
  visibility: hidden;
}

#redCross3{
  background-image: url(../img/Cross.png);
  background-repeat: no-repeat;
  position:absolute;
  height: 32px;
  width 32px;
  visibility: hidden;
}


.turret1 {
    background-image: url(../img/turretB1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px; /* make it round */
    height: 42px;
    width: 42px;
}

.turret2 {
    background-image: url(../img/turretB2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*border-radius: 20px; /* make it round */
    height: 42px;
    width: 42px;
}

.turret3 {
    background-image: url(../img/bubble.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px; /* make it round */
    height: 42px;
    width: 42px;
}

.gridslot {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 5;
  background-color: rgba(0,255,0,0.5);
  pointer-events: none;
}

/*#introModal1 .modal-body {
    background-image: url('http://myfunnymemes.com/wp-content/uploads/2015/04/Doge-Meme-Lion-In-All-Its-Majestic-Glory.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}*/

/*ACHIEVEMENT SYSTEM STUFF */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

.ach {
  background: #14b5d1;
  display: block;
  position: fixed;
  bottom: -5em;
  left: 50%;
  margin-left: -175px;
  width: 350px;
  height: 65px;
  color: #fff;
  font-size: 16px;
  padding: 0 1.2em 0 0;
  z-index: 999;
}

.ach .icon {
  float: left;
  font-size: 2.2em;
  width: 65px;
  padding: 0.1em 0 0;
  text-align: center;
}

.ach .text_wrap {
  position: absolute;
  left: 65px;
  width: 250px;
  top: 0.7em;
  overflow: hidden;
}

.ach .title {
  font-size: 0.9em;
  width: 260px;
  margin: 0 0 -0.2em;
  padding: 0;
}

.ach .detail {
  font-size: 0.7em;
  width: 260px;
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
}

.ach {
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

@keyframes ach_in_anim {
  0% {
    bottom: -5em;
    width: 65px;
    margin-left: -32.5px;
    border-radius: 50%;
  }
  15% {
    bottom: 2.2em;
    width: 65px;
    margin-left: -32.5px;
  }
  25% {
    bottom: 1em;
    width: 65px;
    margin-left: -32.5px;
  }
  75% {
    bottom: 1em;
    width: 65px;
    margin-left: -32.5px;
  }
  85% {
    bottom: 1em;
    width: 65px;
    margin-left: -32.5px;
    border-radius: 50%;
  }
  92% {
    bottom: 1em;
    width: 380px;
    margin-left: -190px;
    border-radius: 0;
  }
  100% {
    bottom: 1em;
    width: 350px;
    margin-left: -175px;
    border-radius: 0;
  }
}

@keyframes ach_current {
  0% {
    bottom: 1em;
    width: 350px;
    margin-left: -175px;
  }
  100% {
    bottom: 1em;
    width: 350px;
    margin-left: -175px;
  }
}

@keyframes ach_out_anim {
  0% {
    bottom: 1em;
    width: 350px;
    margin-left: -175px;
    border-radius: 50%;
  }
  16% {
    bottom: 1em;
    width: 65px;
    margin-left: -32.5px;
    border-radius: 50%;
  }
  20% {
    bottom: 1em;
    width: 50px;
    margin-left: -25px;
  }
  34% {
    bottom: 1em;
    width: 65px;
    margin-left: -32.5px;
  }
  70% {
    bottom: 1em;
    width: 65px;
    margin-left: -32.5px;
  }
  100% {
    bottom: -5em;
    width: 65px;
    margin-left: -32.5px;
    border-radius: 50%;
  }
}

.achieved {
  animation: ach_in_anim 1.4s, ach_current 3s, ach_out_anim 0.8s;
  animation-delay: 0s, 1.4s, 4.4s;
}

@keyframes i_in_anim {
  0% {
    transform: scale(0);
  }
  45% {
    transform: scale(0)
  }
  46% {
    transform: scale(0.4)
  }
  50% {
    transform: scale(1);
  }
  55% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes i_current {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes i_out_anim {
  0% {
    transform: scale(1);
  }
  46% {
    transform: scale(1);
  }
  47% {
    transform: scale(1.2);
  }
  56% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.4)
  }
  65% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

.achieved .icon i {
  animation: i_in_anim 1.4s, i_current 3s, i_out_anim 0.8s;
  animation-delay: 0s, 1.4s, 4.4s;
}

@keyframes text_in_anim {
  0% {
    width: 0;
  }
  85% {
    width: 0;
  }
  100% {
    width: 260px;
  }
}

@keyframes text_out_anim {
  0% {
    width: 260px;
  }
  12% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

.achieved .text_wrap {
  animation: text_in_anim 1.4s, text_out_anim 0.8s;
  animation-delay: 0s, 4.4s;
}
