/* CSS styles */
.game-title {
    color: red;
    font-family: papyrus;
    font-style: italic;
    font-size: 70px;
    text-align: center;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}
#buttonStart {
 margin: 200px 0px 10px 300px;/*top right bottom left*/
}
#buttonInfo {
 margin: 0px 100px 10px 300px;
}

#buttonExtra {
 margin: 0px 100px 10px 300px;
}

#buttonBack {
 margin: 10px 10px 20px 10px;
 width: 150px;
  padding: 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*.........Pause menu...................*/
#pauseMenu{
    width:800px;
    height:600px;
    background:#000000;
    opacity: .5
      
}
#pauseText{
  font-size: 60px
}
#pauseInfoText{
  font-size: 30px
}

/*.........Pause menu...................*/
#bgimg {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    background-image: url('../img/bg3.png');
    margin: auto;
}

#bgimgInfo {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    background-image: url('../img/bgInfo.jpg');
    margin: auto;
    
}

#lv1 {
  text-align: center;
  width: 975px;
  margin-left: calc(100vw - 950px - (100vw - 950px) / 2)
}


#lv1bgimg{
    position: relative;
    width: 800px;
    height: 600px;
    border: 1px solid black;
    background-image: url('../img/level1bg.jpg');
    background-color: azure;
    display: inline-block;
}

#sidebar{
    width: 150px;
    height: 600px;
    border: 1px solid black;
    background-color: #f4f142;
    display: inline-block;
    position: relative;
  float: right;
}

/*------------sidebar-------------turrets button-----------*/
.rpSign{
    background-image: url(../img/RPsign.png);
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    left: 0px;
    position: absolute;
    background-repeat: no-repeat;
}


.turrets{
    padding-left: 0;
    list-style: none;
    width: 100%;
}



/*temp to be deleted later---*/
.turrets li div{
    width: 32px;
    height: 32px;
    margin: auto;
    background-image: url(../img/bubble.png);
    background-size: contain;
    cursor: pointer;
}
/*temp to be deleted later---*/




#turretB1{
    width: 50px;
    height: 50px;
    margin: auto;
    background-image: url(../img/turretB1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#turretB2{
    width: 50px;
    height: 50px;
    margin: auto;
    background-image: url(../img/turretB2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.description{
    border: 1px solid red;
    height: 180px;
    opacity: 0.5;
    display: none;
    background: black;
    color: lightcoral;
    position: absolute;
    top: 320px;
}

.start{
    background-image: url(../img/playbutton.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top:200px;
    margin-left:10px;
    width: 100%;
    height: 100%;
}

.start:hover{
    cursor: pointer;
}

#playerInfo{
    width: 100%;
    height: 50px;
    background-color: lightblue;
    margin-bottom: 5px;
}

#range{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  opacity: 0.3;
  position: absolute;
}

.blocker {
  position: absolute;
  background-color: green;
}

/* enemies */

.enemy {
  position: absolute;
  //background-size: cover;
  //background-color: transparent;
}

.enemy1 {
  //background-color: blue;
  background-image: url(../img/blobslow.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation-duration: 10s;
  height: 50px;
  width: 50px;
}

.enemy2 {
  background-color: red;
  height: 40px;
  width: 40px;
}

/*.enemy3 {
  background-color: black;
  height: 44px;
  width: 44px;
}*/

.level1 {
  top: 55px;
  left: 0;
}

/* turrets */

.turret {
    position: absolute;
    background-size: cover;
    background-color: transparent;
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.turret1 {
    background-image: url(../img/turretB1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px; /* make it round */
    height: 42px;
    width: 42px;
}

.turret2 {
    background-image: url(../img/turretB2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px; /* make it round */
    height: 42px;
    width: 42px;
}

.gridslot {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 5;
  background-color: rgba(0,255,0,0.5);
  pointer-events: none;
}
